//---------------------------------------COMMON STYLE
:root {
	--font-PTSans: 'PT Sans', sans-serif;
	--font-AlfaSlabOne: 'Alfa Slab One', sans-serif;
	--color-gray: #ddd9d1;
	--color-orange: #f39200;
	--color-primary: #484848;
}