//---------------------------------------COMMON STYLE
:root {
	--font-PTSans: 'PT Sans', sans-serif;
	--font-AlfaSlabOne: 'Alfa Slab One', sans-serif;
	--color-gray: #ddd9d1;
	--color-lightgray: #cccccc;
	--color-orange: #f39200;
	--color-primary: #484848;
	--font-title: 18px;
	--font-primary: 14px;
	--font-sliderCaption: 26px;
	@media(min-width: 768px){
		--font-sliderCaption: 45px;
	}
}
body {
	font-family: var(--font-PTSans);
	background: url('../images/body-bg.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}
.wrapper {
	max-width: 1200px;
	margin: 0px auto;
	padding-top: 86px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	background-color: #ffffff;
}
.container {
	padding: 0px 15px;
	@media(min-width: 1024px){
		padding: 0px 30px;
	}
}
.dotted-title {
	margin-bottom: 15px;
	overflow: hidden;
	h3 {
		position: relative;
		display: inline-block;
		font-size: var(--font-title);
		color: var(--color-primary);
		font-family: var(--font-AlfaSlabOne);
		line-height: 1.15em;
		&::after {
			position: absolute;
			left: calc(~"100% + 5px");
			top: 50%;
			content: "";
			display: block;
			width: 1200px;
			border-top: 1px dashed var(--color-lightgray);
		}
	}
}